<html lang="en" layout:decorate="~{newLayout}">
<body>
<!--Login.html-->
  <div layout:fragment="content">
      <form class="form-signin position-absolute top-50 start-50 translate-middle text-center border"
            th:action="@{/login}" method="post">
        <h1 th:text="#{projectTitle}">Youtube Sheets</h1>
        <h2 th:text="#{loginForm.intro}">Login</h2>
          <h4><a th:href="@{/signup}" th:text="#{loginForm.signup}">Sign up</a></h4>
          <div th:if="${param.error}">
              <div class="alert alert-danger" role="alert">
                  사용자ID 또는 비밀번호를 확인해주세요
              </div>
          </div>
        <p></p>
          <div class="form-floating mb-3">
              <input type="text" class="form-control" id="username" name="username" placeholder="Username">
              <label for="username" th:text="#{username}">Username</label>
            </div>
            <div class="form-floating mb-3 mx-auto">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              <label for="password"th:text="#{loginForm.label.password}">Password</label>
            </div>
            <button type="submit" class="w-100 btn btn-outline-primary btn-lg"
                    th:text="#{loginForm.loginBtn}">Login</button>
      </form>
  </div>
<!--Login.html-->
</body>
</html>