<html lang="en" layout:decorate="~{newLayout}">
<body>
<div layout:fragment="content">
<div class="container my-5">



    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                <button class="btn btn-outline-primary" type="button" id="button-addon2">Button</button>
            </div>
        </div>
    </div>

    <!--table-->
    <table class="table table-hover">
        <thead>
        <tr class="text-primary">
            <th scope="col">Num</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post,loop:${paging}">
            <th th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}" scope="row">1</th>
            <td >
                <a th:href="@{|/post/detail/${post.id}|}" th:text="${post.title}" >Title</a></td>
            <td th:text="${post.author.username}">Author</td>
            <td th:text="${#temporals.format(post.createAt, 'yyyy-MM-dd HH:mm')}">date</td>
        </tr>

        </tbody>
    </table>

    <!--페이지네이션-->

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div th:if="${!paging.isEmpty()}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link" th:href="@{|?page=${paging.number-1}|}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"
                        th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:if="${page >= paging.number-2 and page <= paging.number+2}"
                        th:classappend="${page == paging.number} ? 'active'" >
                        <a class="page-link" th:text="${page}" th:href="@{|?page=${page}|}">1</a></li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link" th:href="@{|?page=${paging.number+1}|}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-2">
            <a th:href="@{/post/create}" class="btn btn-primary">글쓰기</a>
        </div>
    </div>

</div>
</div>

</body>
</html>