<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">
<head>
</head>
<body>
    <div layout:fragment="content">


        <div class="youtube" id="player"></div>

        <script th:inline="javascript">

        function getYouTubeVideoId(url) {

            var videoId = '';


             var urlParams = new URLSearchParams(new URL(url).search);


            if (urlParams.has('v')) {
            videoId = urlParams.get('v');}
            else {

            var regExp = /youtu\.be\/([^\/\?]+)/;
            var match = url.match(regExp);
            if (match && match[1]) {
                videoId = match[1];}
        }

            return videoId;}

          var youtubeUrl =[[${url}]];
          var videoId=getYouTubeVideoId(youtubeUrl);
          console.log(videoId);


          var tag = document.createElement('script');

          tag.src = "https://www.youtube.com/iframe_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


          var player;
          function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
              height: '720',
              width: '1280',
              videoId:videoId ,
              events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
              }
            });
          }


          function onPlayerReady(event) {
            event.target.playVideo();
          }


          var done = false;
          function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
              setTimeout(stopVideo, 6000);
              done = true;
            }
          }
          function stopVideo() {
            player.stopVideo();
          }
    </script>

    </div>

</body>
</html>